<div id="Titulo">
        <h1>Gestión de sucursales</h1>
</div>
    
    
<div>
    <table class = "table table-responsive-col table-striped table-hover table-bordered">
        <thead class ="table-dark">
            <tr>
                <th>Nombre</th><th>Dirección</th><th>Teléfono</th><th>Administrador</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>Prueba 1</td><td>Prueba 1</td><td>Prueba 1</td><td>Prueba 1</td>
        </tr>
        <tr>
            <td>Prueba 1</td><td>Prueba 1</td><td>Prueba 1</td><td>Prueba 1</td>
        </tr>
        <tr>
            <td>Prueba 1</td><td>Prueba 1</td><td>Prueba 1</td><td>Prueba 1</td>
        </tr>
        <tr>
            <td>Prueba 1</td><td>Prueba 1</td><td>Prueba 1</td><td>Prueba 1</td>
        </tr>
        </tbody>
    </table>
</div>
