<div class="card-body">
  <div class="table-editable" id="table">
    <table class="table table-bordered table-responsive-md table-striped text-center">
      <thead class="table-dark">
      <tr>
        <th class="text-center">Nombre</th>
        <th class="text-center">Dirección</th>
        <th class="text-center">Teléfono</th>
        <th class="text-center">Administrador</th>
        <th class="text-center">Eliminar</th>
      </tr>
      </thead>
      <tr *ngFor="let sucursal of sucursalList; let id = index">
        <td>
          <span (blur)="updateList(id, 'nombre', $event)" (keyup)="changeValue(id, 'nombre', $event)"
                contenteditable="true">{{sucursal.nombre}}</span>
        </td>
        <td>
          <span (blur)="updateList(id, 'direccion', $event)" (keyup)="changeValue(id, 'direccion', $event)"
                contenteditable="true">{{sucursal.direccion}}</span>
        </td>
        <td>
          <span (blur)="updateList(id, 'telefono', $event)" (keyup)="changeValue(id, 'telefono', $event)"
                contenteditable="true">{{sucursal.telefono}}</span>
        </td>
        <td>
          <span (blur)="updateList(id, 'administrador', $event)" (keyup)="changeValue(id, 'administrador', $event)"
                contenteditable="true">{{sucursal.administrador}}</span>
        </td>
        <td>
                  <span class="table-remove">
                    <button (click)="remove(id)" class="my-0" color="danger" mdbBtn rounded="true" size="sm"
                            type="button">Eliminar</button>
                  </span>
        </td>
      </tr>
    </table>
  </div>
</div>
