<div class="container-fluid">
  <div class="jumbotron">
    <h1 class="display-4">Gestion de Roles</h1>
    <p class="lead">El sistema debe permitir ingresar, modificar y eliminar roles, los cuales solamente almacenaran un
      nombre y descripción.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <button aria-controls="collapseForm" aria-expanded="false" class="btn btn-outline-success btn-lg"
            data-target="#collapseForm" data-toggle="collapse" role="button" type="button">AGREGAR
    </button>
  </div>

  <div class="collapse" id="collapseForm">
    <form>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Email</label>
          <input class="form-control" id="inputEmail4" placeholder="Email" type="email">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Password</label>
          <input class="form-control" id="inputPassword4" placeholder="Password" type="password">
        </div>
      </div>
      <div class="form-group">
        <label for="inputAddress">Address</label>
        <input class="form-control" id="inputAddress" placeholder="1234 Main St" type="text">
      </div>
      <div class="form-group">
        <label for="inputAddress2">Address 2</label>
        <input class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor" type="text">
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputCity">City</label>
          <input class="form-control" id="inputCity" type="text">
        </div>
        <div class="form-group col-md-4">
          <label for="inputState">State</label>
          <select class="form-control" id="inputState">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <label for="inputZip">Zip</label>
          <input class="form-control" id="inputZip" type="text">
        </div>
      </div>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" id="gridCheck" type="checkbox">
          <label class="form-check-label" for="gridCheck">
            Check me out
          </label>
        </div>
      </div>
      <button class="btn btn-primary" type="submit">Sign in</button>
    </form>
  </div>

  <div class="card-body">
    <div class="table-editable" id="table">
      <table class="table table-bordered table-responsive-md table-striped text-center">
        <thead class="table-dark">
        <tr>
          <th class="text-center">Nombre</th>
          <th class="text-center">Descripción</th>
          <th class="text-center">Eliminar</th>
        </tr>
        </thead>
        <tr *ngFor="let rol of rolesList; let id = index">
          <td>
            <span (blur)="updateList(id, 'nombre', $event)" (keyup)="changeValue(id, 'nombre', $event)"
                  contenteditable="true">{{rol.nombre}}</span>
          </td>
          <td>
            <span (blur)="updateList(id, 'descripcion', $event)" (keyup)="changeValue(id, 'descripcion', $event)"
                  contenteditable="true">{{rol.descripcion}}</span>
          </td>
          <td>
                <span class="table-remove">
                  <button (click)="remove(id)" class="my-0" color="danger" mdbBtn rounded="true" size="sm"
                          type="button">Eliminar</button>
                </span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
