<div class="container-fluid">
  <div class="jumbotron">
    <h1 class="display-4">Gestion de Roles</h1>
    <p class="lead">El sistema debe permitir ingresar, modificar y eliminar roles, los cuales solamente almacenaran un
      nombre y descripción.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <button aria-controls="collapseForm" aria-expanded="false" class="btn btn-outline-success btn-lg"
            data-target="#collapseForm" data-toggle="collapse" role="button" type="button">AGREGAR
    </button>
  </div>

  <div class="collapse" id="collapseForm">
    <form #userForm="ngForm" (ngSubmit)="onSubmit()" *ngIf="!submitted" novalidate>

      <div class="row">
        <div class="col-lg-6 form-group">
          <label>Nombre</label>
          <input #name="ngModel" [(ngModel)]="rolModel.nombre" [class.is-invalid]="name.invalid && name.touched"
                 class="form-control" name="name" required type="text">
          <small [class.d-none]="name.valid || name.untouched" class="text-danger">Nombre es necesario</small>
        </div>

        <div class="col-lg-6 form-group">
          <label>Descripcion</label>
          <input #descrip="ngModel" [(ngModel)]="rolModel.descripcion"
                 [class.is-invalid]="descrip.invalid && descrip.touched" class="form-control" name="descripcion"
                 required type="text">
          <small [class.d-none]="descrip.valid || descrip.untouched" class="text-danger">Descripcion requerida</small>
        </div>
      </div>

      <button [disabled]="userForm.form.invalid" class="btn btn-outline-primary " type="submit">Agregar
        Rol
      </button>

    </form>

    <!--  <div class="alert alert-danger" *ngIf="errorMsg">-->
    <!--    {{errorMsg}}-->
    <!--  </div>-->

  </div>

  <div class="card-body">
    <div class="table-editable" id="table">
      <table class="table table-bordered table-responsive-md table-striped text-center">
        <thead class="table-dark">
        <tr>
          <th class="text-center">Nombre</th>
          <th class="text-center">Descripción</th>
          <th class="text-center">Eliminar</th>
        </tr>
        </thead>
        <tr *ngFor="let rol of rolesList; let id = index">
          <td>
            <span (blur)="updateList(id, 'nombre', $event)" (keyup)="changeValue(id, 'nombre', $event)"
                  contenteditable="true">{{rol.nombreRol}}</span>
          </td>
          <td>
            <span (blur)="updateList(id, 'descripcion', $event)" (keyup)="changeValue(id, 'descripcion', $event)"
                  contenteditable="true">{{rol.descripcionRol}}</span>
          </td>
          <td>
                <span class="table-remove">
                  <button (click)="remove(id)" class="my-0" color="danger" mdbBtn rounded="true" size="sm"
                          type="button">Eliminar</button>
                </span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
