<div class="container-fluid">
  <div class="jumbotron">
    <h1 class="display-4">Gestión de Trabajadores</h1>
    <p class="lead">
      El sistema debe permitir ingresar, modificar y eliminar trabajadores, de
      los cuales se guarda cedula, nombre completo, fecha de nacimiento, fecha
      de ingreso al supermercado, sucursal donde labora y el salario por hora
      del empleado.
    </p>
    <hr class="my-4"/>
    <button
      aria-controls="collapseForm"
      aria-expanded="false"
      class="btn btn-outline-success btn-lg"
      data-target="#collapseForm"
      data-toggle="collapse"
      role="button"
      type="button"
    >
      AGREGAR
    </button>
  </div>

  <div class="collapse" id="collapseForm">
    <form
        #userForm="ngForm"
        (ngSubmit)="onSubmit(trabajadorModel.cedulaTrabajador, trabajadorModel.nombreCompletoTrabajador, trabajadorModel.fechaNacimientoTrabajador, trabajadorModel.fechaIngresoTrabajador, trabajadorModel.sucursalTrabajador, trabajadorModel.salarioHoraTrabajador)"
        *ngIf="!submitted"
        novalidate
    >
      <div class="row">
        <div class="col-lg-6 form-group">
          <label>Nombre</label>
          <input
              #name="ngModel"
              [(ngModel)]="trabajadorModel.nombreCompletoTrabajador"
              [class.is-invalid]="name.invalid && name.touched"
              class="form-control"
              name="name"
              required
              type="text"
          />
          <small
            [class.d-none]="name.valid || name.untouched"
            class="text-danger"
          >Nombre es necesario</small
          >
        </div>

        <div class="col-lg-3 form-group">
          <label>Nacimiento</label>
          <input
              #nacimiento="ngModel"
              [(ngModel)]="trabajadorModel.fechaNacimientoTrabajador"
              [bsConfig]="{ isAnimated: true, adaptivePosition: true }"
              [class.is-invalid]="nacimiento.invalid && nacimiento.touched"
              bsDatepicker
              class="form-control"
              name="nacimiento"
              placement="top"
              required
              type="text"
          />
          <small
            [class.d-none]="nacimiento.valid || nacimiento.untouched"
            class="text-danger"
          >Nacimiento requerida</small
          >
        </div>

        <div class="col-lg-3 form-group">
          <label>Ingreso</label>
          <input
              #ingreso="ngModel"
              [(ngModel)]="trabajadorModel.fechaIngresoTrabajador"
              [bsConfig]="{ isAnimated: true, adaptivePosition: true }"
              [class.is-invalid]="ingreso.invalid && ingreso.touched"
              bsDatepicker
              class="form-control"
              name="ingreso"
              placement="top"
              required
              type="text"
          />
          <small
            [class.d-none]="ingreso.valid || ingreso.untouched"
            class="text-danger"
          >Ingreso requerido</small
          >
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 form-group">
          <label>Cedula</label>
          <input
              #cedula="ngModel"
              [(ngModel)]="trabajadorModel.cedulaTrabajador"
              [class.is-invalid]="cedula.invalid && cedula.touched"
              class="form-control"
              name="cedula"
              required
              type="number"
          />
          <small
            [class.d-none]="cedula.valid || cedula.untouched"
            class="text-danger"
          >Cedula es necesario</small
          >
        </div>

        <div class="col-lg-4 form-group">
          <label>Salario por Hora</label>
          <input
              #salario="ngModel"
              [(ngModel)]="trabajadorModel.salarioHoraTrabajador"
              [class.is-invalid]="salario.invalid && salario.touched"
              class="form-control"
              name="salario"
              required
              type="number"
          />
          <small
            [class.d-none]="salario.valid || salario.untouched"
            class="text-danger"
          >Salario por hora es necesario</small
          >
        </div>

        <div class="col-lg-4 form-group">
          <label>Sucursal</label>
          <input
              #sucursal="ngModel"
              [(ngModel)]="trabajadorModel.sucursalTrabajador"
              [class.is-invalid]="sucursal.invalid && sucursal.touched"
              class="form-control"
              name="sucursal"
              required
              type="text"
          />
          <small
            [class.d-none]="sucursal.valid || sucursal.untouched"
            class="text-danger"
          >Sucursal requerido</small
          >
        </div>
      </div>

      <button
        [disabled]="userForm.form.invalid"
        class="btn btn-outline-primary "
        type="submit"
      >
        Agregar Trabajador
      </button>
    </form>
  </div>

  <div class="card-body">
    <div class="table-editable" id="table">
      <table
        class="table table-bordered table-responsive-md table-striped text-center"
      >
        <thead class="table-dark">
        <tr>
          <th class="text-center">Cédula</th>
          <th class="text-center">Nombre Completo</th>
          <th class="text-center">Fecha de Nacimiento</th>
          <th class="text-center">Fecha de Ingreso Laboral</th>
          <th class="text-center">Sucursal</th>
          <th class="text-center">Salario por Hora (Colones)</th>
          <th class="text-center">Eliminar</th>
          <th class="text-center">Actualizar</th>
        </tr>
        </thead>
        <tr *ngFor="let trabajador of trabajadoresList; let id = index">
          <td>
            <span>{{ trabajador.cedulaTrabajador }}</span>
          </td>
          <td>
            <span
              (blur)="updateList(id, 'nombreCompletoTrabajador', $event)"
              (keyup)="changeValue(id, 'nombreCompletoTrabajador', $event)"
              contenteditable="true"
            >{{ trabajador.nombreCompletoTrabajador }}</span
            >
          </td>
          <td>
            <span
              (blur)="updateList(id, 'fechaNacimientoTrabajador', $event)"
              (keyup)="changeValue(id, 'fechaNacimientoTrabajador', $event)"
              contenteditable="true"
            >{{ trabajador.fechaNacimientoTrabajador }}</span
            >
          </td>
          <td>
            <span
              (blur)="updateList(id, 'fechaIngresoTrabajador', $event)"
              (keyup)="changeValue(id, 'fechaIngresoTrabajador', $event)"
              contenteditable="true"
            >{{ trabajador.fechaIngresoTrabajador }}</span
            >
          </td>
          <td>
            <span
              (blur)="updateList(id, 'sucursalTrabajador', $event)"
              (keyup)="changeValue(id, 'sucursalTrabajador', $event)"
              contenteditable="true"
            >{{ trabajador.sucursalTrabajador }}</span
            >
          </td>
          <td>
            <span
              (blur)="updateList(id, 'salarioHoraTrabajador', $event)"
              (keyup)="changeValue(id, 'salarioHoraTrabajador', $event)"
              contenteditable="true"
            >{{ trabajador.salarioHoraTrabajador }}</span
            >
          </td>
          <td>
            <span class="table-remove">
              <button
                (click)="remove(id,trabajador.cedulaTrabajador)"
                class="my-0"
                color="danger"
                mdbBtn
                rounded="true"
                size="sm"
                type="button"
              >
                Eliminar
              </button>
            </span>
          </td>

          <td>
            <span>
              <button
                (click)="update(trabajador.cedulaTrabajador,
                trabajador.nombreCompletoTrabajador,
                trabajador.fechaNacimientoTrabajador.toString(),
                trabajador.fechaIngresoTrabajador.toString(),
                trabajador.sucursalTrabajador,trabajador.salarioHoraTrabajador)"
                class="my-0"
                color="danger"
                mdbBtn
                rounded="true"
                size="sm"
                type="button"
              >
                Actualizar
              </button>
            </span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
