.sidebar {
	position: absolute;
	width: 210px;
	height: 100%;	
	background: #2d3436;
	color: #fff;
}
.sidebar ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.sidebar h2 {
	text-align: center;
	margin: 0;
	background: #2d3436;
	padding: 10px;
}
.sidebar li {
	border: 1px solid 
}
.sidebar li:hover {
	background: #b2bec3;
	
}
.sidebar a {
	display: block;
	color: #FFFFFF;
	padding: 10px;
	text-decoration: none;
}
