<div class="card-body">
  <div class="table-editable" id="table">
    <table class="table table-bordered table-responsive-md table-striped text-center">
      <thead class="table-dark">
      <tr>
        <th class="text-center">Nombre</th>
        <th class="text-center">Descripción</th>
        <th class="text-center">Código de Barras</th>
        <th class="text-center">Proveedor</th>
        <th class="text-center">Precio de Compra</th>
        <th class="text-center">Impuesto</th>
        <th class="text-center">Descuento</th>
        <th class="text-center">Eliminar</th>
      </tr>
      </thead>
      <tr *ngFor="let producto of productosList; let id = index">
        <td>
          <span (blur)="updateList(id, 'nombre', $event)" (keyup)="changeValue(id, 'nombre', $event)"
                contenteditable="true">{{producto.nombre}}</span>
        </td>
        <td>
          <span (blur)="updateList(id, 'descripcion', $event)" (keyup)="changeValue(id, 'descripcion', $event)"
                contenteditable="true">{{producto.descripcion}}</span>
        </td>
        <td>
          <span (blur)="updateList(id, 'codigoBarras', $event)" (keyup)="changeValue(id, 'codigoBarras', $event)"
                contenteditable="true">{{producto.codigoBarras}}</span>
        </td>
        <td>
          <span (blur)="updateList(id, 'proveedor', $event)" (keyup)="changeValue(id, 'proveedor', $event)"
                contenteditable="true">{{producto.proveedor}}</span>
        </td>
        <td>
          <span (blur)="updateList(id, 'precio', $event)" (keyup)="changeValue(id, 'precio', $event)"
                contenteditable="true">{{producto.precio}}</span>
        </td>
        <td>
          <span (blur)="updateList(id, 'impuesto', $event)" (keyup)="changeValue(id, 'impuesto', $event)"
                contenteditable="true">{{producto.impuesto}}</span>
        </td>
        <td>
          <span (blur)="updateList(id, 'descuento', $event)" (keyup)="changeValue(id, 'descuento', $event)"
                contenteditable="true">{{producto.descuento}}</span>
        </td>

        <td>
                <span class="table-remove">
                  <button (click)="remove(id)" class="my-0" color="danger" mdbBtn rounded="true" size="sm"
                          type="button">Eliminar</button>
                </span>
        </td>
      </tr>
    </table>
  </div>
</div>

