<div class="card-body">
  <div class="table-editable" id="table">
    <table class="table table-bordered table-responsive-md table-striped text-center">
      <thead class="table-dark">
      <tr>
        <th class="text-center">Descripción</th>
        <th class="text-center">Fecha real de la compra</th>
        <th class="text-center">Fecha de registro de la compra</th>
        <th class="text-center">Proveedor</th>
        <th class="text-center">Foto de la Compra</th>
        <th class="text-center">Sucursal</th>
        <th class="text-center">Eliminar</th>
      </tr>
      </thead>
      <tr *ngFor="let compra of comprasList; let id = index">
        <td>
          <span (blur)="updateList(id, 'descripcionCompra', $event)" (keyup)="changeValue(id, 'descripcionCompra', $event)"
                contenteditable="true">{{compra.descripcionCompra}}</span>
        </td>
        <td>
          <span (blur)="updateList(id, 'fechaRealCompra', $event)" (keyup)="changeValue(id, 'fechaRealCompra', $event)"
                contenteditable="true">{{compra.fechaRealCompra}}</span>
        </td>
        <td>
          <span (blur)="updateList(id, 'fechaRegistroCompra', $event)"
                (keyup)="changeValue(id, 'fechaRegistroCompra', $event)"
                contenteditable="true">{{compra.fechaRegistroCompra}}</span>
        </td>
        <td>
          <span (blur)="updateList(id, 'proveedorCompra', $event)" (keyup)="changeValue(id, 'proveedorCompra', $event)"
                contenteditable="true">{{compra.proveedorCompra}}</span>
        </td>
        <td>
          <span (blur)="updateList(id, 'fotoCompra', $event)" (keyup)="changeValue(id, 'fotoCompra', $event)"
                contenteditable="true">{{compra.fotoCompra}}</span>
        </td>
        <td>
          <span (blur)="updateList(id, 'sucursalRegistraCompra', $event)" (keyup)="changeValue(id, 'sucursalRegistraCompra', $event)"
                contenteditable="true">{{compra.sucursalRegistraCompra}}</span>
        </td>

        <td>
                <span class="table-remove">
                  <button (click)="remove(id,compra.fotoCompra)" class="my-0" color="danger" mdbBtn rounded="true" size="sm"
                          type="button">Eliminar</button>
                </span>
        </td>
      </tr>
    </table>
  </div>
</div>
