<div class="container-fluid">

  <div class="jumbotron">
    <h1 class="display-4">Gestion de Proveedores</h1>
    <p class="lead">El sistema debe permitir ingresar, modificar y eliminar proveedores, de los cuales se guarda nombre
      completo, cedula (Física o Jurídica).</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <button aria-controls="collapseForm" aria-expanded="false" class="btn btn-outline-success btn-lg"
            data-target="#collapseForm" data-toggle="collapse" role="button" type="button">AGREGAR
    </button>
  </div>

  <div class="collapse" id="collapseForm">
    <form #userForm="ngForm" (ngSubmit)="onSubmit(proveedorModel.cedulaProveedor, proveedorModel.nombreProveedor)" *ngIf="!submitted" novalidate>

      <div class="row">
        <div class="col-lg-6 form-group">
          <label>Nombre</label>
          <input #name="ngModel" [(ngModel)]="proveedorModel.nombreProveedor" [class.is-invalid]="name.invalid && name.touched"
                 class="form-control" name="name" required type="text">
          <small [class.d-none]="name.valid || name.untouched" class="text-danger">Nombre es necesario</small>
        </div>

        <div class="col-lg-6 form-group">
          <label>Cédula</label>
          <input #cedula="ngModel" [(ngModel)]="proveedorModel.cedulaProveedor"
                 [class.is-invalid]="cedula.invalid && cedula.touched"
                 class="form-control" name="cedula" required type="number">
          <small [class.d-none]="cedula.valid || cedula.untouched" class="text-danger">Cédula es necesario</small>
        </div>
      </div>

      <button [disabled]="userForm.form.invalid" class="btn btn-outline-primary " type="submit">Agregar
        Proveedor
      </button>

    </form>

  </div>

  <div class="card-body">
    <div class="table-editable" id="table">
      <table class="table table-bordered table-responsive-md table-striped text-center">
        <thead class="table-dark">
        <tr>
          <th class="text-center">Nombre Completo</th>
          <th class="text-center">Cédula (Física o Jurídica)</th>
          <th class="text-center">Eliminar</th>
          <th class="text-center">Actualizar</th>
        </tr>
        </thead>
        <tr *ngFor="let proveedor of proveedoresList; let id = index">
          <td>
          <span (blur)="updateList(id, 'nombreProveedor', $event)" (keyup)="changeValue(id, 'nombreProveedor', $event)"
                contenteditable="true">{{proveedor.nombreProveedor}}</span>
          </td>
          <td>
          <span (blur)="updateList(id, 'cedulaProveedor', $event)" (keyup)="changeValue(id, 'cedulaProveedor', $event)"
                contenteditable="true">{{proveedor.cedulaProveedor}}</span>
          </td>
          <td>
                <span class="table-remove">
                  <button (click)="remove(id,proveedor.cedulaProveedor)" class="my-0" color="danger" mdbBtn rounded="true" size="sm"
                          type="button">Eliminar</button>
                </span>
          </td>
          <td>
            <span>
              <button (click)="update(proveedor.cedulaProveedor,proveedor.nombreProveedor)" class="my-0" color="danger" mdbBtn rounded="true" size="sm"
                      type="button">Actualizar</button>
            </span>
      </td>
        </tr>
      </table>
    </div>
</div>

</div>
